body{
    padding: 20px;
}
.App{
    width: 400px;
    margin: 0 auto;
}
.App > section{
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    background-color: #efefef;
}
.App button{
    cursor: pointer;
}